<app-card [hidHeader]="true">
  <div class="row">
    <div class="col-auto">
      <span>{{ title }}</span>
    </div>
    <div class="col text-end">
      <h2 class="mb-0">Total : {{ totalRows | currency }}</h2>
    </div>
  </div>
  <apx-chart
    [plotOptions]="charPropertes.plotOptions!"
    [labels]="charPropertes.labels!"
    [chart]="charPropertes.chart!"
    [dataLabels]="charPropertes.dataLabels!"
    [series]="charPropertes.series!"
    [colors]="charPropertes.colors!"
    [responsive]="charPropertes.responsive!"
    [legend]="charPropertes.legend!"></apx-chart>

</app-card>
