<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Accounts" [options]="false">
      <h5> {{ isCreatingTransaction ? "Create transaction" : "Update transaction" }}</h5>
      <hr />
      <div class="row">

        <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">

          <div class="col-md-6">

            <div class="form-group row" *ngIf="!isCreatingTransaction">
              <label for="transactionID" class="col-sm-4 col-form-label">Transaction ID</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="transactionID" [value]="currentTransaction.transactionId"
                       readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="accountId" class="col-sm-4 col-form-label">Account</label>
              <div class="col-sm-8">
                <select class="mb-3 form-control" formControlName="accountId" id="accountId">
                  <option *ngFor="let account of accounts" [value]="account.accountId">{{ account.name }}</option>
                </select>
              </div>
              <small *ngIf="transactionForm.get('accountId')?.invalid && transactionForm.get('accountId')?.touched"
                     style="color: red;">
                Account is required
              </small>
            </div>

            <div class="form-group row">
              <label for="date" class="col-sm-4 col-form-label">Date</label>
              <div class="col-sm-8">
                <input type="date" id="date" formControlName="date" class="form-control">
              </div>
              <small *ngIf="transactionForm.get('date')?.invalid && transactionForm.get('date')?.touched"
                     style="color: red;">
                Date is required
              </small>
            </div>


            <div class="form-group row">
              <label for="transactionType" class="col-sm-4 col-form-label">Category type</label>
              <div class="col-sm-8">
                <select class="mb-3 form-control" formControlName="transactionType" id="transactionType"
                        (change)="onTransactionTypeChange($event)">
                  <option *ngFor="let type of transactionsType" [value]="type.key">{{ type.value }}</option>
                </select>
              </div>
              <small
                *ngIf="transactionForm.get('transactionType')?.invalid && transactionForm.get('transactionType')?.touched"
                style="color: red;">
                Category type is required.
              </small>
            </div>



            <div class="form-group row">
              <label for="category" class="col-sm-4 col-form-label">Category</label>
              <div class="col-sm-8">
                <select class="mb-3 form-control" formControlName="category" id="category"
                        (change)="onCategoryChange($event)">
                  <option *ngFor="let category of categories" [value]="category.code">{{ category.name }}</option>
                </select>
              </div>
              <small *ngIf="transactionForm.get('category')?.invalid && transactionForm.get('category')?.touched"
                     style="color: red;">
                Category is required
              </small>
            </div>

            <div class="form-group row">
              <label for="type" class="col-sm-4 col-form-label">Transaction type</label>
              <div class="col-sm-8">
                <input type="text" formControlName="type" class="form-control" id="type"
                       placeholder="type" readonly />
              </div>
              <small *ngIf="transactionForm.get('type')?.invalid && transactionForm.get('type')?.touched"
                     style="color: red;">
                You need to select a category
              </small>
            </div>

            <div class="form-group row">
              <label for="value" class="col-sm-4 col-form-label">Value</label>
              <div class="col-sm-8">
                <input type="text" formControlName="value" class="form-control" id="value"
                       placeholder="value" />
              </div>
              <small *ngIf="transactionForm.get('value')?.invalid && transactionForm.get('value')?.touched"
                     style="color: red;">
                value is required and must be a number.
              </small>
            </div>

            <div class="form-group row">
              <label for="description" class="col-sm-4 col-form-label">Description</label>
              <div class="col-sm-8">
                <input type="text" formControlName="description" class="form-control" id="description"
                       placeholder="Description" />
              </div>
              <small *ngIf="transactionForm.get('description')?.invalid && transactionForm.get('description')?.touched"
                     style="color: red;">
                Description is required.
              </small>
            </div>

            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">{{ isCreatingTransaction ? "Save" : "Update" }}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</div>
